*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #b7aea1;
}

/* ================= HERO ================= */

.hero{
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.15);
}

/* ================= NAVBAR ================= */

.navbar{
    width: 85%;
    height: 70px;

    background: #ece8e2;

    padding: 0 30px;

    border-radius: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    top: 20px;
    left: 50%;

    transform: translateX(-50%);

    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-a{
    text-decoration: none;
}

.logo img{
    width: 50px;
}

.logo h2{
    color: #0a2148;
    font-size: 24px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;

    background: #071f49;
    color: white;

    padding: 10px 20px;

    border-radius: 30px;
}

.nav-links a:hover{
    background: #102c63;
}

/* ================= HERO CONTENT ================= */

.hero-content{
    z-index: 10;
    text-align: center;
}

.hero-content h1{
    font-size: 70px;
    color: black;
    margin-bottom: 15px;
}

.hero-content p{
    color: white;
    margin-bottom: 50px;
}

/* ================= SEARCH ================= */

.search-box{
    width: 500px;
    height: 55px;
    background: #ece8e2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    margin: auto;
}

.search-box i{
    color: #555;
    font-size: 18px;
}

.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 15px;
    font-size: 16px;
}

/* ================= GENRES ================= */

.genres-section{
    padding: 40px 0;
}

.genres{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.genres button{
    border: none;
    background: #071f49;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.genres button:hover{
    background: #556046;
}

/* ================= BOOKS ================= */

.books-section{
    padding: 20px 50px 80px;
}

.books-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* ================= BOOK CARD ================= */

.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-card img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 15px;
}

.book-card button{
    width: 100%;
    margin-top: 15px;
    border: none;
    background: #071f49;
    color: white;
    padding: 18px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.book-card button:hover{
    background: #102c63;
}


/* ================= MODAL ================= */

.modal{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: rgba(0,0,0,0.7);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999;
}

/* active modal */

.modal.show{
    display: flex;
}

.modal-content{
    width: 800px;

    background: #b7aea1;

    border-radius: 20px;

    padding: 30px;

    position: relative;
}

/* close */

.close-modal{
    position: absolute;

    top: 15px;
    right: 25px;

    font-size: 35px;

    cursor: pointer;
}

/* body */

#modalBody{
    display: flex;
    gap: 30px;
}

#modalBody img{
    width: 300px;
    height: 420px;

    object-fit: cover;

    border-radius: 15px;
}

.modal-info{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.genre{
    color: #071f49;
}

.modal-info h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.modal-info h4{
    margin-bottom: 15px;
    color: #222;
}

.modal-info h4 span{
    color: #666;
    font-weight: normal;
}

.modal-info p{
    line-height: 1.8;
    margin-bottom: 25px;
}

.modal-info button{
    border: none;

    background: #071f49;
    color: white;

    padding: 15px 30px;

    border-radius: 30px;

    cursor: pointer;

    font-size: 18px;
}

/* ================= TO READ ================= */

.to-read-title{
    margin-top: 140px;
    padding: 0 30px;
}

.to-read-title h1{
    color: #071f49;
    font-size: 35px;
    margin-left: 20px;
}

/* active nav */

.active-nav{
    background: #556046 !important;
}

/* delete button */

.delete-btn{
    width: 100%;

    margin-top: 15px;

    border: none;

    background: darkred;
    color: white;

    padding: 18px;

    border-radius: 40px;

    cursor: pointer;

    font-size: 22px;
    font-weight: bold;

    transition: 0.3s;
}

.delete-btn:hover{
    background: red;
}

/* ================= ADMIN ================= */

.admin-header{
    width: 90%;

    margin: 150px auto 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-header h1{
    color: #071f49;
    font-size: 50px;
}

.admin-header p{
    color: #071f49;
}

.add-book-btn{
    border: none;

    background: #071f49;
    color: white;

    padding: 25px 60px;

    border-radius: 50px;

    font-size: 28px;
    font-weight: bold;

    cursor: pointer;
}

/* ================= TABLE ================= */

.table-section{
    width: 90%;
    margin: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: #5f5b5b;
    color: white;
}

th{
    padding: 30px;
    font-size: 30px;
}

td{
    text-align: center;
    padding: 25px;
    font-size: 25px;

    border: 1px solid #444;
}

td img{
    width: 90px;
    height: 130px;

    object-fit: cover;
}

/* buttons */

.action-btns{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.delete-table-btn,
.edit-btn{
    border: none;

    width: 55px;
    height: 55px;

    border-radius: 12px;

    cursor: pointer;

    color: white;
    font-size: 22px;
}

.delete-table-btn{
    background: darkred;
}

.edit-btn{
    background: #071f49;
}

/* ================= MODAL ================= */

.admin-modal{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: rgba(0,0,0,0.5);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999;
}

.admin-modal.show{
    display: flex;
}

.admin-modal-content{
    width: 500px;

    background: #b7aea1;

    padding: 25px;

    border-radius: 15px;
    margin-top: 80px;
}

.admin-modal-content h2{
    text-align: center;

    color: #071f49;

    margin-bottom: 20px;

    font-size: 35px;
}

/* form */

#bookForm{
    display: flex;
    flex-direction: column;
}

#bookForm label{
    margin: 12px 0 6px;

    font-size: 18px;
    font-weight: bold;

    color: #071f49;
}

#bookForm input,
#bookForm select,
#bookForm textarea{
    border: none;
    outline: none;

    padding: 14px;

    border-radius: 12px;

    font-size: 16px;
}

#bookForm textarea{
    resize: none;
    height: 90px;
}

/* buttons */

.form-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-top: 25px;
}

.cancel-btn,
.save-btn{
    border: none;

    padding: 14px 35px;

    border-radius: 12px;

    cursor: pointer;

    font-size: 18px;
    font-weight: bold;
}

.cancel-btn{
    background: #ececec;
}

.save-btn{
    background: #071f49;
    color: white;
}

/* ================= FOOTER ================= */

.footer{
    width: 90%;

    background: #ececec;

    margin: 80px auto 40px;

    border-radius: 60px;

    padding: 60px 80px 30px;
}

/* content */

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    gap: 40px;
}

/* left */

.footer-left img{
    width: 220px;
    margin-bottom: 15px;
}

.footer-left p{
    color: #333;
    font-size: 18px;
}

/* right */

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-right h3{
    margin-bottom: 10px;
}

.footer-right a{
    text-decoration: none;
    color: #222;

    transition: 0.3s;
}

.footer-right a:hover{
    color: #071f49;
}

/* line */

.footer hr{
    margin: 40px 0 25px;
    border: 1px solid #999;
}

/* copyright */

.copyright{
    text-align: center;
    color: #222;
}

/* ================= TABLET ================= */

@media (max-width: 992px){

    /* Navbar */

    .navbar{
        width: 95%;
        padding: 0 20px;
    }

    /* Hero */

    .hero-content h1{
        font-size: 50px;
    }

    .search-box{
        width: 80%;
    }

    /* Books */

    .books-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* Footer */

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

    .footer-right{
        align-items: center;
    }

    /* Admin */

    .admin-header{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .table-section{
        overflow-x: auto;
    }

    table{
        min-width: 700px;
    }

}


/* ================= MOBILE ================= */

@media (max-width: 768px){

    /* Navbar */

    .navbar{
        width: 95%;
        height: 65px;

        padding: 0 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img{
        width: 80px;
    }

    .nav-links{
        display: flex;
        gap: 5px;
    }

    .nav-links a{
        font-size: 11px;
        padding: 8px 10px;
        border-radius: 20px;
    }

    /* Hero */

    .hero-content h1{
        font-size: 40px;
    }

    .hero-content p{
        font-size: 14px;
        padding: 0 20px;
    }

    .search-box{
        width: 90%;
    }

    /* Filters */

    .genres-container{
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Books */

    .books-container{
        grid-template-columns: 1fr;
    }

    .book-card img{
        width: 100%;
        height: auto;
    }

    /* Modal */

    .modal-content{
        width: 95%;
        padding: 20px;
        flex-direction: column;
    }

    .modal-content img{
        width: 200px;
        margin: auto;
    }

    .modal-info{
        text-align: center;
    }

    /* To Read */

    .to-read-title{
        text-align: center;
    }

    /* Footer */

    .footer{
        width: 95%;
        padding: 30px 20px;
    }

    .footer-left img{
        width: 180px;
    }

    /* Admin */

    .admin-header h1{
        font-size: 35px;
    }

    .add-book-btn{
        padding: 15px 30px;
        font-size: 18px;
    }

    .admin-modal-content{
        width: 95%;
        margin: 20px;
        padding: 20px;
    }

    .admin-modal-content h2{
        font-size: 30px;
    }

}

